@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'JetBrains Mono', monospace;
  background: linear-gradient(135deg, #f58529, #feda75, #dd2a7b, #8134af, #515bd4);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: #dcdcdc; /* Light text color */
}

/* Flex Container for Editor and Output */
.Editor-Output {
  display: flex;
  height: calc(95vh - 70px); /* Full height minus the top bar */
  overflow: auto;
}

/* Editor and Output Styles */
.Editor, .Output {
  background-color: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #dcdcdc; /* Light text color */
  padding: 10px;
  max-height: 100%;
}

.Editor {
  flex: 2.8;
  border-right: 1px solid #444;
  overflow: auto;
}

.Output {
  flex: 1.2;
  border-left: 1px solid #444;
  overflow-y: auto;
}

/* Header and Content Styles */
h1 {
  color: #ffffff;
}

.output-header {
  padding: 5px;
  font-weight: bold;
  color: #ffcc00; /* Bright yellow for accent */
}

.output-content {
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #abb2bf; /* Slightly lighter text color */
}

/* Monaco Editor Specific Styles */
.monaco-editor {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 1.5;
  color: #abb2bf;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Top Bar Styling */
.top {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Theme Dropdown */
.theme-dropdown {
  margin-right: 20px;
  width: 200px;
  background-color: #282c34;
  color: #abb2bf;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

/* Run Button */
.run-button {
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.run-button:hover {
  background-color: #005a9e;
  transform: translateY(-2px);
}

.run-button .fa {
  margin-right: 8px;
}

/* Gradient Animation */
@keyframes gradientAnimation {
  0%, 100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}
