.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ffffff;
  width: 100vw; /* Full viewport width */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  position: fixed; /* Fixed position to cover the screen */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it's on top of other content */
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #005a9e;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader-message {
  margin-top: 20px;
  color: #d4d4d4;
  font-size: 16px;
  font-weight: bold;
}
